* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0b011d; /* Deep Dark Background */
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    background: linear-gradient(to right, #ff00ff, #ff7700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.subscribe-btn {
    background:  linear-gradient(90deg,#ff00ff,#ff7700);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
/* hero section css */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b011d;
    overflow: hidden;
}

.wave-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero-container {
    position: relative;
    z-index: 2; /* Text and buttons on top of wave */
    text-align: center;
}

.main-circle {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-bg {
    position: absolute;
    width: 100%;
    /* width: 350px;
    height: 350px; */
}
.description{
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.microphone-img {
    position: relative;
    width: 70px; /* Adjust as needed */
    z-index: 3;
}

.new-badge {
    position: absolute;
    top: 20px;
    right: 5px;
    background: #00ff00;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    z-index: 4;
}

/* Button Styling */
.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-spotify {
    background: linear-gradient(to right, #f8ad32, #cf209c);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 25px;
}

.btn-subscribe {
    background: transparent;
    border: 1px solid #00f2ff;
    color: #00f2ff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 25px;
}

.button-group img {
    width: 20px;
}