* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: white;
}
.Background{
    background-color: #1A0B2E;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    background: linear-gradient(to right, #ff00ff, #ff7700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}

.subscribe-btn {
    background:  linear-gradient(90deg,#ff00ff,#ff7700);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
/* hero section css...................... */
/* hero................................ */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wave-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.hero-container {
    position: relative;
    z-index: 2; 
    text-align: center;
}

.main-circle {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-bg {
    position: absolute;
    width: 100%;
}

.microphone-img {
    position: relative;
    width: 70px; 
    z-index: 3;
}

.new-badge {
    position: absolute;
    top: 20px;
    right: 5px;
    background: #00ff00;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    z-index: 4;
}

/* Button  */
.button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-spotify {
    background: linear-gradient(to right, #f8ad32, #cf209c);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 25px;
}

.btn-subscribe {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00ff88;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 25px;
}

.button-group img {
    width: 20px;
}
/* description ........................  */
.about-section {
  width: 100%;
  height: 100%;
  padding:50px 200px 120px 200px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;
  margin-top: 0px;
}

.section-title {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 50px; 
  text-align: center;
}

.section-desc {
  width: 1200px; 
  height: 148px; 
  color: #dfd2d2;
  opacity: 0.8; 
  font-family: 'Inter', sans-serif;
  font-size: 12px; 
  line-height: 20px; 
  text-align: center; 
  margin-bottom: 80px;
}

.stats-container {
  width: 1200px; 
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  gap: 80px; 
}

.stat-item {
  width: 240px; 
  height: 94px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 16px; 
}

.stat-number {
  color: #00ff88;
  font-size: 40px;
  font-weight: 700;
}

.stat-label {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.7;
}
.long-margin{
  width: 1200px; 
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 80px auto; 
  opacity: 0.5;
}
/* card....................................................  */
:root {
  --bg-color: #0b021d;
  --card-bg: rgba(255, 255, 255, 0.05);
  --text-main: #ffffff;
  --text-muted: #b0a8c0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.conteinar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;

}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 20px;
}

.card {
  background: var(--card-bg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(53, 17, 101, 0.4);
}

.icon-container {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card h3 {
  margin: 0 0 15px 0;
  font-size: 1.25rem;
}

.card p {
  color: var(--text-muted);
  line-height: 1.6;
  font-size: 0.95rem;
  margin: 0;
}

.card-tall { 
  grid-row: span 2; 
}
.card-wide { 
  grid-column: span 2; 
  flex-direction: row;
  align-items: center; 
  gap: 20px; 
}
.card-large { 
  grid-column: span 2; 
}
 /* vedio card..........................................  */
 .episodes-section {
  background-color: rgba(26, 11, 46, 1);;
  color: #ffffff;
  padding: 80px 20px;
  font-family: 'Inter', sans-serif;
}

.container-vedio {
  max-width: 1100px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-bottom: 80px;
}

.episode-card {
  background-color: rgba(37, 13, 68, 1);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(221, 196, 196, 0.05);
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.episode-info { 
  padding: 20px; 
}
.duration { 
  color: #00FF88; 
  font-weight: bold; 
}
.host-card {
  background-color: rgba(37, 13, 68, 1);
  border-radius: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 850px;
  margin: 0 auto;
}

.host-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.icon-circle {
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.icon-circle img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.icon-circle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}
/* footer....................... */
.footer {
    position: relative;
    width: 100%;
    height: 413px;
    background-color: #0f0524;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    font-family: 'Inter', sans-serif; /
    padding: 80px 0;
}

/* Background Image  */
.footer-bg {
    position: absolute;
    width: 100%;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.footer-content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -30px;
}

.footer-logo {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.footer-logo span {
    background: linear-gradient(90deg, #ff00ff, #ff7700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sociale-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.sociale-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 40px;
}

.sociale-links a:hover {
    opacity: 0.8;
}

.sociale-links img {
    width: 24px;
    height: 24px;
}

.copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    letter-spacing: 0.5px;
}